<link rel="stylesheet" href="/css/public/menu.css">

<div class="menu">
    <div class="container">
        <div class="menu-label">Thực đơn</div>
        <!-- Danh mục món ăn -->
        <div class="menu-nav">
            <div class="menu-nav__title">Danh mục:</div>
            <div class="row px-2">
                <div class="col-6 col-sm-2 px-0">
                    <div class="menu-nav__item active" data-category-id="">
                        <i class="fas fa-sort-down"></i>
                        Lẩu
                    </div>
                </div>
                <div class="col-6 col-sm-2 px-0">
                    <div class="menu-nav__item" data-category-id="">
                        <i class="fas fa-sort-down"></i>
                        Nướng
                    </div>
                </div>
                <div class="col-6 col-sm-2 px-0">
                    <div class="menu-nav__item" data-category-id="">
                        <i class="fas fa-sort-down"></i>
                        Gỏi
                    </div>
                </div>
                <div class="col-6 col-sm-2 px-0">
                    <div class="menu-nav__item" data-category-id="">
                        <i class="fas fa-sort-down"></i>
                        Cuốn
                    </div>
                </div>
                <div class="col-6 col-sm-2 px-0">
                    <div class="menu-nav__item" data-category-id="">
                        <i class="fas fa-sort-down"></i>
                        Ăn nhẹ
                    </div>
                </div>
            </div>
        </div>

        <!-- Danh sách món ăn -->
        <div class="menu-list mt-4">
            <div class="row menu-list-wrapper">
                <div class="col-12 col-md-6 menu-item" data-food-id="">
                    <div class="menu-item__wrapper d-flex flex-column align-items-center flex-lg-row">
                        <a href="/menu/MA001">
                            <img src="/images/food/lau1.jpg" alt="Img" class="menu-item__img">
                        </a>
                        <div class="menu-item__info d-flex flex-column justify-content-between py-2 px-3">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="/menu/MA001" class="menu-item__name">
                                        Lẩu thái
                                    </a>
                                    <span class="menu-item__price">
                                        300.000đ
                                    </span>
                                </div>
                                <p class="menu-item__desc">
                                    Phù hợp cho 2-3 người ăn. Nước lẩu đậm vị, thơm ngon.
                                </p>
                            </div>
                            <button class="menu-item__order menu-item__order--add">
                                <i class="fas fa-cart-plus"></i>
                                Order
                            </button>
                            <button class="menu-item__order menu-item__order--added">
                                Đã thêm
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 menu-item" data-food-id="">
                    <div class="menu-item__wrapper d-flex flex-column align-items-center flex-lg-row">
                        <a href="/menu/MA001">
                            <img src="/images/food/lau2.jpg" alt="Img" class="menu-item__img">
                        </a>
                        <div class="menu-item__info d-flex flex-column justify-content-between py-2 px-3">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="/menu/MA001" class="menu-item__name">
                                        Lẩu của đồng
                                    </a>
                                    <span class="menu-item__price">
                                        350.000đ
                                    </span>
                                </div>
                                <p class="menu-item__desc">
                                    Phù hợp cho 2-3 người ăn. Của đồng giao trong ngày, cực kỳ tươi.
                                </p>
                            </div>
                            <button class="menu-item__order menu-item__order--add">
                                <i class="fas fa-cart-plus"></i>
                                Order
                            </button>
                            <button class="menu-item__order menu-item__order--added">
                                Đã thêm
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 menu-item" data-food-id="">
                    <div class="menu-item__wrapper d-flex flex-column align-items-center flex-lg-row">
                        <a href="/menu/MA001">
                            <img src="/images/food/lau3.jpg" alt="Img" class="menu-item__img">
                        </a>
                        <div class="menu-item__info d-flex flex-column justify-content-between py-2 px-3">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="/menu/MA001" class="menu-item__name">
                                        Lẩu dê
                                    </a>
                                    <span class="menu-item__price">
                                        300.000đ
                                    </span>
                                </div>
                                <p class="menu-item__desc">
                                    Phù hợp cho 2-3 người ăn. Nước lẩu đậm vị, thịt dê núi thơm ngon.
                                </p>
                            </div>
                            <button class="menu-item__order menu-item__order--add">
                                <i class="fas fa-cart-plus"></i>
                                Order
                            </button>
                            <button class="menu-item__order menu-item__order--added">
                                Đã thêm
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 menu-item" data-food-id="">
                    <div class="menu-item__wrapper d-flex flex-column align-items-center flex-lg-row">
                        <a href="/menu/MA001">
                            <img src="/images/food/lau4.jpg" alt="Img" class="menu-item__img">
                        </a>
                        <div class="menu-item__info d-flex flex-column justify-content-between py-2 px-3">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="/menu/MA001" class="menu-item__name">
                                        Lẩu bò
                                    </a>
                                    <span class="menu-item__price">
                                        350.000đ
                                    </span>
                                </div>
                                <p class="menu-item__desc">
                                    Phù hợp cho 2-3 người ăn. Nước lẩu đậm vị, thịt bò tươi ngon được giao trong ngày.
                                </p>
                            </div>
                            <button class="menu-item__order menu-item__order--add">
                                <i class="fas fa-cart-plus"></i>
                                Order
                            </button>
                            <button class="menu-item__order menu-item__order--added">
                                Đã thêm
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 menu-item" data-food-id="">
                    <div class="menu-item__wrapper d-flex flex-column align-items-center flex-lg-row">
                        <a href="/menu/MA001">
                            <img src="/images/food/lau5.jpg" alt="Img" class="menu-item__img">
                        </a>
                        <div class="menu-item__info d-flex flex-column justify-content-between py-2 px-3">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="/menu/MA001" class="menu-item__name">
                                        Lẩu mắm
                                    </a>
                                    <span class="menu-item__price">
                                        300.000đ
                                    </span>
                                </div>
                                <p class="menu-item__desc">
                                    Phù hợp cho 2-3 người ăn. Nước lẩu đậm vị, ngọt, thơm kèm với nhiều loại rau đồng
                                    tươi.
                                </p>
                            </div>
                            <button class="menu-item__order menu-item__order--add">
                                <i class="fas fa-cart-plus"></i>
                                Order
                            </button>
                            <button class="menu-item__order menu-item__order--added">
                                Đã thêm
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 menu-item" data-food-id="">
                    <div class="menu-item__wrapper d-flex flex-column align-items-center flex-lg-row">
                        <a href="/menu/MA001">
                            <img src="/images/food/lau6.jpg" alt="Img" class="menu-item__img">
                        </a>
                        <div class="menu-item__info d-flex flex-column justify-content-between py-2 px-3">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="/menu/MA001" class="menu-item__name">
                                        Lẩu gà
                                    </a>
                                    <span class="menu-item__price">
                                        300.000đ
                                    </span>
                                </div>
                                <p class="menu-item__desc">
                                    Phù hợp cho 2-3 người ăn. Nước lẩu ngọt, đậm vị, gà thả vườn chắc thịt.
                                </p>
                            </div>
                            <button class="menu-item__order menu-item__order--add">
                                <i class="fas fa-cart-plus"></i>
                                Order
                            </button>
                            <button class="menu-item__order menu-item__order--added">
                                Đã thêm
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 menu-item" data-food-id="">
                    <div class="menu-item__wrapper d-flex flex-column align-items-center flex-lg-row">
                        <a href="/menu/MA001">
                            <img src="/images/food/lau7.jpg" alt="Img" class="menu-item__img">
                        </a>
                        <div class="menu-item__info d-flex flex-column justify-content-between py-2 px-3">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="/menu/MA001" class="menu-item__name">
                                        Lẩu nấm
                                    </a>
                                    <span class="menu-item__price">
                                        350.000đ
                                    </span>
                                </div>
                                <p class="menu-item__desc">
                                    Phù hợp cho 2-3 người ăn. Nước lẩu ngọt, ninh từ xương và kết hợp với nhiều loại nấm
                                    thơm ngon.
                                </p>
                            </div>
                            <button class="menu-item__order menu-item__order--add">
                                <i class="fas fa-cart-plus"></i>
                                Order
                            </button>
                            <button class="menu-item__order menu-item__order--added">
                                Đã thêm
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 menu-item" data-food-id="">
                    <div class="menu-item__wrapper d-flex flex-column align-items-center flex-lg-row">
                        <a href="/menu/MA001">
                            <img src="/images/food/lau8.jpg" alt="Img" class="menu-item__img">
                        </a>
                        <div class="menu-item__info d-flex flex-column justify-content-between py-2 px-3">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="/menu/MA001" class="menu-item__name">
                                        Lẩu cá kèo
                                    </a>
                                    <span class="menu-item__price">
                                        350.000đ
                                    </span>
                                </div>
                                <p class="menu-item__desc">
                                    Phù hợp cho 2-3 người ăn. Nước lẩu đậm vị, cá được giao trong ngày, đảm bảo độ tươi
                                    ngon, ăn cùng các loại rau đồng.
                                </p>
                            </div>
                            <button class="menu-item__order menu-item__order--add">
                                <i class="fas fa-cart-plus"></i>
                                Order
                            </button>
                            <button class="menu-item__order menu-item__order--added">
                                Đã thêm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        /**
            Dùng kiểm tra món ăn đã có trong giỏ hàng chưa:
                + Có rồi thì đánh class added vào
                + Chưa thì khỏi
        */
        /**
        function checkItemInCartList() {
            $('.menu-item').each(function () {
                const foodID = $(this).attr('data-food-id');

                if (foodID in cartList['foods']) {
                    $(this).addClass('added');
                }
            })
        }*/

        /*
        function setOrderBtnEvent() {
            $('.menu-item__order.menu-item__order--add').click(function () {
                const menuItemElement = $(this).closest('.menu-item');
                const foodID = menuItemElement.attr('data-food-id');

                if (!(foodID in cartList['foods'])) {
                    cartList["foods"][foodID] = 1

                    // Lưu giá trị mới vào bộ nhớ cục bộ
                    window.localStorage.setItem("com_nha_cart", JSON.stringify(cartList));

                    // Cập nhật lại số món ăn trong giỏ hàng
                    updateCartNumber();
                }

                menuItemElement.addClass('added');
            });
            

            checkItemInCartList();
        }
        */

        //setOrderBtnEvent();

        // Xự kiện click vào nút thêm trên mỗi món ăn
        $('.menu-item__order--add').click(function () {
            const menuItemElement = $(this).closest('.menu-item');
            /*const foodID = menuItemElement.attr('data-food-id');

            if (!(foodID in cartList['foods'])) {
                cartList["foods"][foodID] = 1

                // Lưu giá trị mới vào bộ nhớ cục bộ
                window.localStorage.setItem("com_nha_cart", JSON.stringify(cartList));

                // Cập nhật lại số món ăn trong giỏ hàng
                updateCartNumber();
            }*/

            menuItemElement.addClass('added');
        });


        // Tải món ăn ứng với danh mục món được chọn
        $('.menu-nav__item').click(function () {
            if (!$(this).hasClass('active')) {
                $('.menu-nav__item.active').removeClass('active');
                $(this).addClass('active');

                const categoryID = $(this).attr('data-category-id');

                /*
                $.get(`../api/get_foods.php?categoryID=${categoryID}`, function (data) {
                    if (data) {
                        $('.menu-list-wrapper').children('.menu-item').remove();
                        data.forEach(food => {
                            $('.menu-list-wrapper').append(`
                            <div 
                                class="col-12 col-md-6 menu-item" 
                                data-food-id="${food.id}"
                            >
                                <div class="menu-item__wrapper d-flex flex-column align-items-center flex-lg-row">
                                    <a href="./detail.php?id=${food.id}">
                                        <img 
                                            src="../api/food-images/${food.image}" 
                                            alt="Img" 
                                            class="menu-item__img"
                                        >
                                    </a>
                                    <div class="menu-item__info d-flex flex-column justify-content-between py-2 px-3">
                                        <div class="d-flex flex-column">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <a href="./detail.php?id=${food.id}" class="menu-item__name">
                                                    ${food.name}
                                                </a>
                                                <span class="menu-item__price">
                                                    ${Intl.NumberFormat('vi-VN').format(food.price)}đ
                                                </span>
                                            </div>
                                            <p class="menu-item__desc">
                                                ${food.desc}
                                            </p>
                                        </div>
                                        <button class="menu-item__order menu-item__order--add">
                                            <i class="fas fa-cart-plus"></i>
                                            Order
                                        </button>
                                        <button class="menu-item__order menu-item__order--added">
                                            Đã thêm
                                        </button>
                                    </div>
                                </div>
                            </div>
                        `);
                        });

                        setOrderBtnEvent();

                    } else {
                        $('.menu-list-wrapper').children('.menu-item').remove();
                        $('.menu-list-wrapper').append(`
                        <div 
                            class="col-12 menu-item pt-4" 
                        >
                            <h4 class="text-center text-danger">Chưa cập nhật món ăn</h4>
                        </div>
                    `)
                    }
                }, "json");
                */
            }

        })
    })
</script>